:root {
    --primary-text-color: #273B7E;
    --primary-white-color: #FFFFFF;
    --gray-color: #D7D7D7;
    --danger-button-color: #E03345;
    --update-button-color: #25397D
  }

  .no-date-icon::-webkit-calendar-picker-indicator {
    display: none;
  }

body {
    background: #F8F8F8;
}


@keyframes fadeOut {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .successAlert {
    animation: fadeOut  0.5s ease-in-out;
  }